{% extends '@App/layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <style type="text/css">
        {% include '@App/layout/css/form.css.twig' with { 'bgUrl': bgUrl|default(random(images.backgrounds)) } %}
    </style>
{% endblock %}

{% block content %}
    {{ parent() }}
    {% block content_header %}
        <article class="cf ph4">
            <div class="absolute-ns db-ns tc w-25-ns z-0">
                <img src="{{ images.logoUrl }}" class="dib" title="{{ block('title') }}"/>
            </div>
            <div class="dn dib-l fr tr w-75-ns">
                <h3 class="f3 fw8 form-logo mh0 ph0">{{ course }}</h3>
            </div>
        </article>
    {% endblock %}
    <article class="cf mh1-ns mh1-m mh3-l">
        <form action="{{ formAction|default }}" accept-charset="utf-8" class="form-bg br3 mt3-ns pv2-ns vh-75" method="{{ formMethod|default('post') }}">
            {% block content_form %}{% endblock %}
        </form>
    </article>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/scripts/jquery-resize/jquery.debouncedresize.js"></script>
    <script src="/scripts/jquery-resize/jquery.throttledresize.js"></script>
    <script>{% include '@App/layout/js/form.js.twig' %}</script>
{% endblock %}