{% extends '@App/layout.html.twig' %}

{% block styles %}
    {{ parent() }}
    <style type="text/css">
        {% include '@App/layout/css/form.css.twig' with { 'bgUrl': bgUrl|default(random(images.backgrounds)) } %}
    </style>
{% endblock %}

{% block content %}
    {{ parent() }}
    {% block content_header %}
        <article class="cf ph3">
            <div class="db fl w-100 w-60-ns w-40-m w-20-l">
                <img src="{{ images.logoUrl }}" class="dib" title="{{ block('title') }}"/>
            </div>
            {% block content_header_title %}
                <div class="absolute-l dn dib-l tc w-75-l">
                    <h3 class="{{ fontClassX3 }} calisto navy">{{ title }}</h3>
                </div>
            {% endblock %}
            <div class="absolute-ns dn dib-ns fr tr w-34-ns w-50-m w-75-l">
                <h3 class="{{ fontClassTitle }}fw6 form-logo lh-solid-l pt1 pt2-m pt0-l">{{ course }}</h3>
            </div>
        </article>
    {% endblock %}
    <article class="cf mh1-ns mh1-m mh3-l">
        <form action="{{ formAction|default }}" accept-charset="utf-8" class="form-bg br3 pv2-ns vh-75" method="{{ formMethod|default('post') }}">
            {% block content_form %}{% endblock %}
        </form>
    </article>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/scripts/jquery-resize/jquery.debouncedresize.js"></script>
    <script src="/scripts/jquery-resize/jquery.throttledresize.js"></script>
    <script>{% include '@App/layout/js/form.js.twig' %}</script>
{% endblock %}