
{% include 'partial/board-hidden-fields.html.twig' %}
<input name="flabel" type="hidden" value="{{ flabel }}"/>
<input name="referrer" type="hidden" value="{{ page }}"/>

{% for key, text in texts %}

    {% set isLibreOption = key in options['libre'] %}
    {% set isMultipleOption = key in options['multiple'] %}
    {% set isSimpleOption = key in options['simple'] %}
    {% set isOption = isLibreOption or isMultipleOption or isSimpleOption %}
    {% set class = isOption ? 'pl4 option' : 'pl1' %}

    <article>
        <label class="{{ class }}">{{ text|raw }}</label>
        {% if isLibreOption %}
            <input id="{{ key }}" name="options[{{ parent }}]" />
        {% elseif isMultipleOption %}
            <input id="{{ key }}" name="options[{{ parent }}]" type="checkbox" value="{{ text }}" />
        {% elseif isSimpleOption %}
            <input id="{{ key }}" name="{{ parent }}" type="radio" value="{{ text }}" />
        {% else %}
            {% set parent = key %}
        {% endif %}
    </article>

{% endfor %}