
<form class="min-h-100 mb3 mw7 center pa3 br2-ns ba b--black-10 v-mid" action="{{ formAction }}" accept-charset="utf-8" method="{{ formMethod|default('post') }}">

    {% include 'partial/fields/board-hidden.html.twig' %}
    <input name="flabel" type="hidden" value="{{ flabel }}" />
    <input name="referrer" type="hidden" value="{{ page }}" />

    {% set isTable = false %}
    {% for key, text in texts %}
        {% set isLibreOption = key in pageOptions['libre'] %}
        {% set isMultipleOption = key in pageOptions['multiple'] %}
        {% set isSimpleOption = key in pageOptions['simple'] %}
        {% set isOption = isSimpleOption or isLibreOption or isMultipleOption %}
        {% set isPlainText = key in pageOptions['text'] %}
        {% set class = isOption ? 'option' : isPlainText ? 'text' : 'description' %}
        {% set textNum = (key|split('t')[1]|number_format + 0) %}
        {% set tableColNum = key|split('c')[1] is empty ? null : (key|split('c')[1]|number_format + 0) %}
        {% set tableRowNum = key|split('f')[1] is empty ? null : (key|split('f')[1]|number_format + 0) %}
        {% set hadImage = false %}

        {% if key in pageTextReplaces|keys %}
            {% set wildcard %}
                {% include pageTextReplaces[key]['template'] with pageTextReplaces[key]['parameters'] %}
            {% endset %}
            {% set text = text|format(wildcard) %}
        {% endif %}

        {% if key in images|keys or textNum <= image['till'] %}
            {% if key in images|keys %}
                {% set image = images[key] %}
            {% endif %}
            {% set class = image['alignment'] is not same as('cen') ? class ~ ' ' ~ image['offset'] : class %}
            {% set class = image['alignment'] is same as('dch') ? class ~ ' fl' : class %}
            {% set class = image['alignment'] is same as('izq') ? class ~ ' dib' : class %}
            {% if text is empty %}
                {% set text %}
                    {% include 'partial/fields/board-img.html.twig' with { 'cssClassContainer': 'fl pr1 ' ~ image['width'], 'cssClassContent': 'w-100', 'src': image['path'] } %}
                {% endset %}
                {% set image = null %}
            {% endif %}

        {% elseif image is not empty and textNum > image['till'] or textNum == 1 %}
            {% if image['alignment'] is same as('dch') or image['alignment'] is same as('izq') %}
                {% set class = class ~ ' cl' %}
            {% endif %}
            {% if textNum > image['till'] %}
                {% set hadImage = true %}
            {% endif %}
        {% endif %}

        {% if image['alignment'] is same as('izq') and image['since'] == textNum %}
            {% include 'partial/fields/board-img.html.twig' with { 'cssClassContainer': 'fl pr1 ' ~ image['width'], 'cssClassContent': 'w-100', 'src': image['path'] } %}
        {% endif %}

        {% if tableRowNum is not null %}
            {% set isTable = true %}
            {% set class = tableRowNum == 0 or isOption ? class ~ ' tc' : class %}

            {% if parentRowNum is not defined %}
                <div class="mt2 table"><div class="row header"><div class="{{ class }} cell">
            {% elseif tableRowNum > parentRowNum %}
                </div><div class="row"><div class="{{ class }} cell">
            {% elseif tableRowNum == 0 or tableRowNum == parentRowNum %}
                <div class="{{ class }} cell">
            {% endif %}

            {% set color = tableRowNum == 0 ? 'white-80' : 'black-80' %}

            {% if isSimpleOption %}
                {% include 'partial/fields/board-option-simple.html.twig' %}
            {% elseif isLibreOption %}
                {% include 'partial/fields/board-option-libre.html.twig' %}
            {% elseif isMultipleOption %}
                {% include 'partial/fields/board-option-multiple.html.twig' %}
            {% elseif isPlainText %}
                {% include 'partial/fields/board-label.html.twig' with { 'labelCss': 'pa0 f5 f4-ns ' ~ color } %}
                {% set parent = key %}
            {% else %}
                {% include 'partial/fields/board-label.html.twig' with { 'labelCss': 'b pa0 f5 f4-ns ' ~ color } %}
                {% set parent = key %}
            {% endif %}

            {% set parentRowNum = tableRowNum %}
        {% else %}
            {% set class = isOption or isPlainText ? class ~ ' pl1 pl2-ns pl3-m pl4-l pv1' : class %}
            {% set class = 't01' in key or hadImage ? class ~ ' pb1' : class ~ ' pt3 pb1' %}
            {% set class = key in pageTitles ? class ~ ' tc' : class %}
            {% if isTable %}
                {% set isTable = false %}
                </div></div>
            {% endif %}
            <div class="{{ class }}">
                {% if isSimpleOption %}
                    {% include 'partial/fields/board-option-simple.html.twig' %}
                    {% include 'partial/fields/board-label.html.twig' with { 'labelCss': 'dib pointer pl2 mr1 pa0 f5 f4-ns black-80 mw-95', 'for': parent ~ '_' ~ key } %}
                {% elseif isLibreOption %}
                    {% include 'partial/fields/board-option-libre.html.twig' %}
                    {% include 'partial/fields/board-label.html.twig' with { 'for': parent ~ '_' ~ key } %}
                {% elseif isMultipleOption %}
                    {% include 'partial/fields/board-option-multiple.html.twig' %}
                    {% include 'partial/fields/board-label.html.twig' with { 'labelCss': 'dib pointer pl2 mr1 pa0 f5 f4-ns black-80 mw-95', 'for': parent ~ '_' ~ key } %}
                {% elseif isPlainText %}
                    {% include 'partial/fields/board-label.html.twig' with { 'labelCss': 'pa0 f5 f4-ns black-80' } %}
                    {% set parent = key %}
                {% else %}
                    {% include 'partial/fields/board-label.html.twig' with { 'labelCss': 'b pa0 f5 f4-ns black-80' } %}
                    {% set parent = key %}
                {% endif %}
        {% endif %}
        </div>

        {% if image['alignment'] is same as('cen') and image['since'] == textNum and image['till'] == textNum %}
            {% include 'partial/fields/board-img.html.twig' with { 'cssClassContent': image['width'], 'src': image['path'] } %}
        {% endif %}

        {% if image['alignment'] is same as('dch') and image['till'] == textNum %}
            {% include 'partial/fields/board-img.html.twig' with { 'cssClassContainer': 'dib pl1 ' ~ image['width'], 'cssClassContent': 'w-100', 'src': image['path'] } %}
        {% endif %}
    {% endfor %}
    {% if isTable %}</div></div>{% endif %}

    {% if buttonText is not empty %}
        <div class="cl pt4 tc">
            <button class="dib tc bn bg-animate bg-green hover-bg-dark-green br2 pointer pv2 ph2 white">
                {{ buttonText }}
            </button>
        </div>
    {% endif %}
</form>