
<form class="min-h-100 mw7 center pa3 br2-ns ba b--black-10" action="{{ formAction }}" accept-charset="utf-8" method="{{ formMethod|default('post') }}">

    {% include 'partial/fields/hidden.html.twig' %}
    <input name="flabel" type="hidden" value="{{ flabel }}" />
    <input name="referrer" type="hidden" value="{{ page }}" />

    {% set column = 0 %}
    {% set columsArray = {} %}
    {% set hadMedia = false %}
    {% set mediaItem = null %}
    {% set isOption = false %}
    {% set isTable = false %}
    {% for key, text in texts %}
        {% set key = key|trim %}
        {% set text = text|trim %}
        {% if key in audios|keys %}
            {% set mediaItem = audios[key] %}
            {% set mediaName = 'audio' %}
        {% elseif key in images|keys %}
            {% set mediaItem = images[key] %}
            {% set mediaName = 'image' %}
        {% endif %}
        {% set isItemText = key in numbers|keys %}
        {% set isPlainText = pageOptions['text'] is defined ? key in pageOptions['text'] : false %}
        {% set isTitleText = key in pageTitles %}
        {% set isSimpleOption = pageOptions['simple'] is defined ? key in pageOptions['simple'] : false %}
        {% set isLibreOption = pageOptions['libre'] is defined ? key in pageOptions['libre'] : false %}
        {% set isLibreOption = pageOptions['libre-m'] is defined ? key in pageOptions['libre-m'] : isLibreOption %}
        {% set isLibreOptionLarge = pageOptions['libre-l'] is defined ? key in pageOptions['libre-l'] : false %}
        {% set isLibreOptionSmall = pageOptions['libre-s'] is defined ? key in pageOptions['libre-s'] : false %}
        {% set isMultipleOption = pageOptions['multiple'] is defined ? key in pageOptions['multiple'] : false %}
        {% set isOption = isSimpleOption or isLibreOption or isLibreOptionLarge or isLibreOptionSmall or isMultipleOption %}
        {% set class = isOption ? 'option' : isPlainText ? 'text' : 'description' %}
        {% set textNum = key|split('t')[1]|number_format %}
        {% set tableColNum = key|split('c')|length is same as(2) ? key|split('c')[1]|number_format : null %}
        {% set tableRowNum = key|split('f')|length is same as(2) ? key|split('f')[1]|number_format : null %}
        {#{% set color = tableColNum is same as('0') or tableRowNum is same as('0') ? 'white-80' : 'black-80' %}#}
        {% set color = 'black-80' %}

        {% if key in pageTextReplaces|keys %}
            {% set wildcard %}
                {% include pageTextReplaces[key]['template'] with pageTextReplaces[key]['parameters'] %}
            {% endset %}
            {% set text = text|format(wildcard) %}
        {% endif %}

        {% if mediaItem is not null %}
            {% include 'partial/page-align-left.html.twig' %}
            {% if hadMedia %}
                {% set class = class ~ ' cl' %}
                {% set hadMedia = false %}
            {% endif %}
            {#{% if isOption %}
                {% set class = class ~ ' dib' %}
            {% endif %}#}
            {% if not isOption %}
                {% if textNum <= mediaItem['till']|number_format and (mediaItem['alignment'] is same as('dch') or mediaItem['alignment'] is same as('izq')) %}
                    {% set class = class ~ ' dib ' ~ mediaItem['offset'] %}
                {% endif %}
            {% endif %}
            {% if textNum == mediaItem['till']|number_format %}
                {% set hadMedia = true %}
            {% endif %}
        {% endif %}

        {% if tableColNum is not null %}
            {% set tableRowNum = tableColNum %}
        {% endif %}
        {% if tableRowNum is not null %}
            {% set isTable = true %}
            {% set column = column + 1 %}
            {% if tableRowNum is same as('0') %}
                {% set columsArray = columsArray|merge({('c' ~ column): key}) %}
            {% endif %}

            {% if parentRowNum is not defined %}
                <div class="{{ class }} mv1 mv2-l table"><div class="row header"><div class="tc v-mid cell">
            {% elseif tableRowNum > parentRowNum %}
                {% set column = 1 %}
                </div><div class="row"><div class="{{ isOption ? 'tc v-mid ' : '' }}cell">
            {% elseif tableRowNum is same as('0') or tableRowNum is same as(parentRowNum) %}
                <div class="{{ isOption ? 'tc v-mid ' : '' }}cell">
            {% endif %}

            {% if isOption %}
                {% include 'partial/page-option.html.twig' %}
            {% else %}
                {% include 'partial/fields/label.html.twig' with {
                    'labelClass': (isItemText ? 'b f5 f4-l ' : isTitleText ? 'b f4 f3-l ' : 'f5 f4-l ') ~ 'pa0 ' ~ color
                } %}
                {% if tableColNum is null %}
                    {% set parent = key %}
                {% endif %}
            {% endif %}

            {% set parentRowNum = tableRowNum %}

        {% else %}
            {% set class = isOption or isPlainText ? class ~ ' pl1 pl2-ns pl3-m pl4-l' : class %}
            {% set class = isTitleText ? class ~ ' tc' : class %}
            {% if isItemText %}
                {% set class = textNum is same as('1') ? class ~ ' pb1' : class ~ ' pt3 pb1' %}
                {% set text = '<span class="white bg-black-80 ph1 br2">' ~ numbers[key] ~ '</span> ' ~ text %}
            {% else %}
                {% set class = textNum is same as('1') ? class ~ ' pb1' : class ~ ' pv1' %}
            {% endif %}
            {% if isTable %}
                {% set isTable = false %}
                {% set parentRowNum = null %}
                </div></div>
            {% endif %}
            <div class="{{ class }}">
            {% if isOption %}
                {% include 'partial/page-option.html.twig' %}
            {% else %}
                {% include 'partial/fields/label.html.twig' with {
                    'labelClass': (isItemText ? 'b f5 f4-l ' : isTitleText ? 'b f4 f3-l ' : 'f5 f4-l ') ~ 'pa0 ' ~ color
                } %}
                {% set parent = key %}
            {% endif %}
        {% endif %}
        </div>

        {% if mediaItem is not null %}
            {% include 'partial/page-align-right.html.twig' %}
        {% endif %}
    {% endfor %}

    {% if isTable %}</div></div>{% endif %}

    {% if rightButtonText is defined and rightButtonText is not empty and leftButtonText is defined and leftButtonText is not empty %}
        <div class="cb tc{% if isOption and not isTable %} pt3{% elseif hadMedia %} pt1{% else %} pt2{% endif %}">
            <div class="fl w-100 w-50-ns tc">
                <button class="f5 f4-l fw6-l link dim tc ba bw1 bw2-l dib black-80 b--black-80 bg-white br2 br3-l pointer pv1 ph2 left-button">{{ leftButtonText }}</button>
            </div>
            <div class="dib w-100 w-50-ns tc">
                <button class="f5 f4-l fw6-l link dim tc ba bw1 bw2-l dib black-80 b--black-80 bg-white br2 br3-l pointer pv1 ph2 right-button">{{ rightButtonText }}</button>
            </div>
        </div>
    {% elseif rightButtonText is defined and rightButtonText is not empty %}
        <div class="cb tc{% if isOption and not isTable %} pt3{% elseif hadMedia %} pt1{% else %} pt2{% endif %}">
            <button class="f5 f4-l fw6-l link dim tc ba bw1 bw2-l dib black-80 b--black-80 bg-white br2 br3-l pointer pv1 ph2 right-button">{{ rightButtonText }}</button>
        </div>
    {% endif %}
</form>