
<form class="min-h-100 mw7 center pa3 br2-ns ba b--black-10" action="{{ formAction }}" accept-charset="utf-8" method="{{ formMethod|default('post') }}">

    {% include 'partial/fields/hidden.html.twig' %}
    <input name="flabel" type="hidden" value="{{ flabel }}" />
    <input name="referrer" type="hidden" value="{{ page }}" />

    {% set hadImage = false %}
    {% set isOption = false %}
    {% set isTable = false %}
    {% set image = null %}
    {% for key, text in texts %}
        {% set column = 0 %}
        {% set columsArray = {} %}
        {% set key = key|trim %}
        {% set text = text|trim %}
        {% if key in images|keys %}
            {% set image = images[key] %}
        {% endif %}
        {% set isItemText = key in numbers|keys %}
        {% set isPlainText = pageOptions['text'] is defined ? key in pageOptions['text'] : false %}
        {% set isTitleText = key in pageTitles %}
        {% set isSimpleOption = pageOptions['simple'] is defined ? key in pageOptions['simple'] : false %}
        {% set isLibreOption = pageOptions['libre'] is defined ? key in pageOptions['libre'] : false %}
        {% set isLibreOption = pageOptions['libre-m'] is defined ? key in pageOptions['libre-m'] : isLibreOption %}
        {% set isLibreOptionLarge = pageOptions['libre-l'] is defined ? key in pageOptions['libre-l'] : false %}
        {% set isLibreOptionSmall = pageOptions['libre-s'] is defined ? key in pageOptions['libre-s'] : false %}
        {% set isMultipleOption = pageOptions['multiple'] is defined ? key in pageOptions['multiple'] : false %}
        {% set isOption = isSimpleOption or isLibreOption or isLibreOptionLarge or isLibreOptionSmall or isMultipleOption %}
        {% set class = isOption ? 'option' : isPlainText ? 'text' : 'description' %}
        {% set textNum = key|split('t')[1]|number_format %}
        {% set tableColNum = key|split('c')|length is same as(2) ? key|split('c')[1]|number_format : null %}
        {% set tableRowNum = key|split('f')|length is same as(2) ? key|split('f')[1]|number_format : null %}
        {% set color = tableColNum is same as('0') or tableRowNum is same as('0') ? 'white-80' : 'black-80' %}

        {% if key in pageTextReplaces|keys %}
            {% set wildcard %}
                {% include pageTextReplaces[key]['template'] with pageTextReplaces[key]['parameters'] %}
            {% endset %}
            {% set text = text|format(wildcard) %}
        {% endif %}

        {% if hadImage %}
            {% set class = class ~ ' cl' %}
            {% set hadImage = false %}
        {% endif %}
        {% if not isOption and image is not null %}
            {% if textNum <= image['till']|number_format and (image['alignment'] is same as('dch') or image['alignment'] is same as('izq')) %}
                {% set class = class ~ ' ' ~ image['offset'] %}
                {% set class = image['alignment'] is same as('dch') ? class ~ ' fl' : class %}
                {% set class = image['alignment'] is same as('izq') ? class ~ ' dib' : class %}
            {% endif %}
            {% if textNum == image['till']|number_format %}
                {% set hadImage = true %}
            {% endif %}
            {% if text is null and image is not null %}
                {% set text %}
                    {% include 'partial/fields/image.html.twig' with { 'cssClassContainer': 'fl pr1 ' ~ image['width'], 'cssClassContent': 'w-100', 'src': image['path'] } %}
                {% endset %}
            {% elseif image['alignment'] is same as('izq') and image['since']|number_format == textNum %}
                {% include 'partial/fields/image.html.twig' with { 'cssClassContainer': 'fl pr1 ' ~ image['width'], 'cssClassContent': 'w-100', 'src': image['path'] } %}
            {% endif %}
        {% endif %}

        {% if tableColNum is not null %}
            {% set tableRowNum = tableColNum %}
        {% endif %}
        {% if tableRowNum is not null %}
            {% set isTable = true %}
            {% set column = column + 1 %}
            {% if tableRowNum is same as('0') %}
                {% set columsArray = columsArray|merge({('c' ~ column): key}) %}
            {% endif %}

            {% if parentRowNum is not defined %}
                <div class="{{ class }} mv1 mv2-l table"><div class="row header"><div class="tc v-mid cell">
            {% elseif tableRowNum > parentRowNum %}
                {% set column = 1 %}
                </div><div class="row"><div class="{{ isOption ? 'tc v-mid ' : '' }}cell">
            {% elseif tableRowNum is same as('0') or tableRowNum is same as(parentRowNum) %}
                <div class="{{ isOption ? 'tc v-mid ' : '' }}cell">
            {% endif %}

            {% if isOption %}
                {% include 'partial/page-option.html.twig' %}
            {% else %}
                {% include 'partial/fields/label.html.twig' with {
                    'labelClass': (isItemText ? 'b ' : '') ~ 'pa0 f5 f4-l ' ~ color
                } %}
                {% if tableColNum is null %}
                    {% set parent = key %}
                {% endif %}
            {% endif %}

            {% set parentRowNum = tableRowNum %}

        {% else %}
            {% set class = isOption or isPlainText ? class ~ ' pl1 pl2-ns pl3-m pl4-l' : class %}
            {% set class = isTitleText ? class ~ ' tc' : class %}
            {% if isItemText %}
                {% set class = textNum is same as('1') ? class ~ ' pb1' : class ~ ' pt3 pb1' %}
                {% set text = '<span class="white-80 bg-black-80 f4 f3-l ph1 br2">' ~ numbers[key] ~ '</span> ' ~ text %}
            {% else %}
                {% set class = textNum is same as('1') ? class ~ ' pb1' : class ~ ' pv1' %}
            {% endif %}
            {% if isTable %}
                {% set isTable = false %}
                {% set parentRowNum = null %}
                </div></div>
            {% endif %}
            <div class="{{ class }}">
            {% if isOption %}
                {% include 'partial/page-option.html.twig' %}
            {% elseif isTitleText %}
                {% include 'partial/fields/label.html.twig' with { 'labelClass': 'b pa0 f4 f3-l ' ~ color } %}
                {% set parent = key %}
            {% elseif isItemText %}
                {% include 'partial/fields/label.html.twig' with { 'labelClass': 'b pa0 f5 f4-l ' ~ color } %}
                {% set parent = key %}
            {% else %}
                {% include 'partial/fields/label.html.twig' with { 'labelClass': 'pa0 f5 f4-l ' ~ color } %}
                {% set parent = key %}
            {% endif %}
        {% endif %}
        </div>
        {% if not isOption and image is not null %}
            {% if image['alignment'] is same as('cen') and image['since'] == textNum and image['till']|number_format == textNum %}
                {% include 'partial/fields/image.html.twig' with { 'cssClassContent': image['width'], 'src': image['path'] } %}
            {% elseif image['alignment'] is same as('dch') and image['till']|number_format == textNum %}
                {% include 'partial/fields/image.html.twig' with { 'cssClassContainer': 'dib pl1 ' ~ image['width'], 'cssClassContent': 'w-100', 'src': image['path'] } %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if isTable %}</div></div>{% endif %}

    <div class="cl tc{% if hadImage %} pt1{% elseif isOption and not isTable %} pt3{% else %} pt2{% endif %}">
        {% if rightButtonText is defined and leftButtonText is defined %}
            <div class="fl w-100 w-50-ns tc">
                <button class="dib tc bn bg-animate bg-green hover-bg-dark-green br2 pointer pv1 pv2-l ph2 white">{{ leftButtonText }}</button>
            </div>
            <div class="dib w-100 w-50-ns tc">
                <button class="dib tc bn bg-animate bg-green hover-bg-dark-green br2 pointer pv1 pv2-l ph2 white right-button">{{ rightButtonText }}</button>
            </div>
        {% elseif rightButtonText is defined %}
            <button class="dib tc bn bg-animate bg-green hover-bg-dark-green br2 pointer pv1 pv2-l ph2 white">{{ rightButtonText }}</button>
        {% endif %}
    </div>
</form>