{% extends '@App/layout/form.html.twig' %}

{% block title title ~ ' :: ' ~ course ~ ' :: ' ~ mainTitle|title %}

{% block styles %}
    {{ parent() }}
    <style type="text/css">
        {% include '@App/page/css/login.css.twig' %}
    </style>
{% endblock %}

{% block content_header_title %}{% endblock %}

{% block content_form %}
    <div class="dn dib-l fl pl2 {{ colorInverse }}pa0 pt1-m pt2-l w-100 w-25-ns title-shadow">
        <h3 class="{{ fontClassX3 }}fw6 mb2 pl4"><strong>{{ title }}</strong></h3>
    </div>
    <div class="dib-ns fr {{ colorInverse }}pa0 pt2-m pt3-l w-100 w-75-ns title-shadow">
        {% include '@App/partial/fields/login-fields.html.twig' %}
    </div>
    <div class="cb fl mt4 tc w-100">
        <div class="dib tc w-50 w-20-ns w-50-m">
            {% include '@App/field/audio.html.twig' with { 'cssClassContent': 'fa-inverse pb3 w-auto' } %}
        </div>
        <div class="dib tc pt4 v-top w-50 w-60-ns w-50-m">
            <input name="course" type="hidden" value="{{ course }}"/>
            <button class="{{ fontClass }}{{ colorInverse }}bg-navy b--blue br2 link mb2 ph3 pointer pv1 pv2-l">{{ submit_text }}</button>
        </div>
        <div class="dn dib-l v-btm w-20">
            <div class="mt3 w-70">
                <img src="{{ images.logoUrlFooter }}" class="fr-m w-25 w-34-m w-60-l" alt="{{ block('title') }}" title="{{ block('title') }}"/>
            </div>
        </div>
    </div>
{% endblock %}

{% block jq_ready %}
    {{ parent() }}
    {% include '@App/field/js/audio.js.twig' with { 'type': 'full' } %}
{% endblock %}