{% extends '@App/layout/form.html.twig' %}

{% block title title ~ ' :: ' ~ course ~ ' :: ' ~ mainTitle|title %}

{% block styles %}
    {{ parent() }}
    <style type="text/css">
        {% include '@App/page/css/login.css.twig' %}
    </style>
{% endblock %}

{% block content_header_title %}{% endblock %}

{% block content_form %}
    <div class="dn dib-l {{ colorInverse }}fl pl2 title-shadow w-100 w-25-ns">
        <h3 class="{{ fontClassX3 }}fw6 mb2 pl4"><strong>{{ title }}</strong></h3>
    </div>
    <div class="dib-ns {{ colorInverse }}fr title-shadow w-100 w-90-ns w-75-l">
        {% include '@App/partial/fields/login-fields.html.twig' %}
    </div>
    <div class="cb fl mt3 mt4-ns mt5-m mt5-l tc w-100">
        <div class="dib tc w-40 w-50-ns w-25-l">
            {% include '@App/field/audio.html.twig' with { 'cssClassContent': 'fa-inverse pb3 w-auto' } %}
        </div>
        <div class="dib pt4 tc v-top w-60 w-50-ns">
            <input name="course" type="hidden" value="{{ course }}"/>
            <button class="{{ fontClass }}{{ colorInverse }}bg-navy b--blue br2 link mb2 ph3 pointer pv1 pv2-l">{{ submit_text }}</button>
        </div>
        <div class="dn dib-l tr v-btm w-25-l">
            <div class="mt3 w-60">
                <img src="{{ images.logoUrlFooter }}" class="fr-m w-25 w-34-m w-60-l" alt="{{ block('title') }}" title="{{ block('title') }}"/>
            </div>
        </div>
    </div>
{% endblock %}

{% block jq_ready %}
    {{ parent() }}
    {% include '@App/field/js/media.js.twig' with { 'tag': 'audio', 'type': 'full' } %}
{% endblock %}