<a href="" class="playAudio" target="_self" title="{{ audio_file_tip|default(media.tip|default) }}">
    {% set audio_file_size = audio_file_size is defined ? metric.levels[audio_file_size]|default('5x') : media.size %}
    <i class="dim {{ fontClass ~ cssClassContent|default('w-auto') }} fa fa-play fa-{{ audio_file_size }} title-shadow">
        {% set audio_file_path = audio_file_path is defined ? audio_file_path : media.path %}
        <audio preload="auto">
            {% if audio_file_path.mp3 is not empty %}
                <source src="{{ audio_file_path.mp3 }}" type="audio/mpeg">
            {% endif %}
            {% if audio_file_path.ogg is not empty %}
                <source src="{{ audio_file_path.ogg }}" type="audio/ogg">
            {% endif %}
            Your browser doesn't support the HTML audio tag. Be sad.
        </audio>
    </i>
</a>