{% extends 'layout/form.html.twig' %}

{% block title title ~ ' | ' ~ course | title %}

{% block content_form %}
    <article class="calisto center mw5 mw6-ns br4 hidden ba b--black-10 mv4 dt w-100 w-75-m w-75-ns">
        <div class="pa2 tc">
            {% for key, value in actions %}
                <button class="link br3 ph3 pv2 mb2 dib{{ (key is sameas(table)) ? ' b bg-light-blue dim pointer black' }} f6 f5-ns lh-copy measure mh1 mv2 pv2 w-30-ns w-40-m" name="{{ key }}"{{ (key is not sameas(table)) ? ' disabled="disabled"' }}>
                    {{ value }}
                </button>
                {% if (key is sameas(table)) %}
                    <input name="flabel" id="flabel" type="hidden" value="{{ value }}"/>
                {% endif %}
            {% endfor %}
            <input name="fcurso" id="fcurso" type="hidden" value="{{ course }}"/>
            <input name="fperiodo" id="fperiodo" type="hidden" value="{{ period }}"/>
            <input name="flengua" id="flengua" type="hidden" value="{{ lang }}"/>
            <input name="fititulo" id="fititulo" type="hidden" value="{{ title }}"/>
            <input name="ftestuak" id="ftestuak" type="hidden" value="{{ table }}"/>
            <input name="ferantzunak" id="ferantzunak" type="hidden" value="{{ target }}"/>
        </div>
    </article>
{% endblock %}