{% extends '@App/layout/form.html.twig' %}

{% block title title ~ ' :: ' ~ course ~ ' :: ' ~ mainTitle|title %}

{% block content_form %}
    <div class="pb3 dt fr w-100 w-75-m w-75-ns {{ colorInverse }}">
        {% include '@App/partial/sample/login-sample.html.twig' %}
    </div>
    <div class="mt3 fl w-100 tc">
        <div class="dib w-100 w-25-m w-25-ns"></div>
        <div class="dib w-100 w-25-m w-25-ns pt3-ns pt0 tc">
            <input name="course" type="hidden" value="{{ course }}"/>
            <button class="{{ fontClass }} b bg-navy b--dark-blue br2 dib dim link mb2 ph3 pointer pv1 pv2-l {{ colorInverse }}">{{ submit_text }}</button>
        </div>
        <div class="{{ 'dib tc tr-m tc-ns w-100 w-25-m w-25-ns' }}">
            {% include '@App/partial/fields/audio.html.twig' with { 'cssClassContent': 'fa-inverse w-100' } %}
        </div>
    </div>
{% endblock %}

{% block jq_ready %}
    {{ parent() }}
    {% include '@App/asset/audio-click.js.twig' %}
{% endblock %}