
<article id="bg-fields" class="pv2 mh2 mh4-ns" style="background: url('{{ bg_url }}') no-repeat; background-size: cover;">
    <div class="pb3 dt v-top w-100 w-75-m w-75-ns white">
        <div class="dtc mt3 fl w-100 tl-l tc">
            <label class="db f4 fw3 lh-copy dib v-top mv0 w-100 w-60-m w-60-ns tr-l" for="fcodalued">{{ code }}</label>
            <input class="b pa2 input-reset ba bg-transparent white w-75 w-40-m w-25-ns tc" type="text" name="fcodalued" id="fcodalued" required />
        </div>
        <div class="dtc mt3 fl w-100 tl-l tc">
            <label class="db f4 fw3 lh-copy dib v-top mv0 w-100 w-40-m w-40-ns tr-l" for="ffnacidia">{{ bdate }}</label>
            <div class="dib w-100 w-50-m w-50-ns tr-m">
                <div class="db f5 fw4 v-mid mv0 pb1">
                    <label for="ffnacidia" class="dib w-40 w-50-m w-50-ns tc">{{ bday }}</label>
                    <select class="f6 no-underline dib v-top mb0 b pa1 input-reset ba bg-transparent white w-40 tc" name="ffnacidia" id="ffnacidia" required >
                        <option class="black" value="" selected="selected">-------</option>
                        {% for i in 1..31 %}
                            <option class="black" value="{{ (1 == loop.index|length ? '0' : '') ~ loop.index|raw }}">{{ loop.index|raw }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="db f5 fw4 v-mid mv0">
                    <label for="ffnacimes" class="dib w-40 tc">{{ bmonth }}</label>
                    <select class="f6 no-underline dib v-top mb0 b pa1 input-reset ba bg-transparent white w-40 w-50-m w-50-ns tc" name="ffnacimes" id="ffnacimes" required >
                        <option class="black" value="" selected="selected">-------</option>
                        <option class="black" value="01">{{ jan }}</option>
                        <option class="black" value="02">{{ feb }}</option>
                        <option class="black" value="03">{{ mar }}</option>
                        <option class="black" value="04">{{ apr }}</option>
                        <option class="black" value="05">{{ may }}</option>
                        <option class="black" value="06">{{ jun }}</option>
                        <option class="black" value="07">{{ jul }}</option>
                        <option class="black" value="08">{{ aug }}</option>
                        <option class="black" value="09">{{ sep }}</option>
                        <option class="black" value="10">{{ oct }}</option>
                        <option class="black" value="11">{{ nov }}</option>
                        <option class="black" value="12">{{ dec }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="dtc mt3 fl w-100 tl-l tc">
            <label class="db f4 fw3 lh-copy dib v-top mv0 w-100 w-60-m w-60-ns tr-l" for="fcodprueba">{{ codpro }}</label>
            <input class="b pa2 input-reset ba bg-transparent white w-75 w-40-m w-25-ns tc" type="text" name="fcodprueba" id="fcodprueba" required />
        </div>
    </div>{#
</article>

<article class="cf ph4 pv2 tc">#}
    <div class="mt3 w-100 tc">
        <a href="#" target="_self">
            <img src="{{ audio_sample_img }}" alt="{{ audio_sample }}" width="70" height="70"/>
            <audio src="{{ audio_sample_url }}" controls></audio>
        </a>
    </div>{#
</article>

<article class="cf ph4 pv2 tc">#}
    <div class="mt3 w-100 tc">
        <input name="fperiodo" id="fperiodo" type="hidden" value="{{ course }}"/>
        <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="{{ submit_text }}"/>
    </div>
</article>